html{

   background-color: white;

}
body{
   background: rgb(136, 195, 247); /* rgb(28, 39, 138);*/
   height: 100vh;
   border: .5px white;      

}
.header{
    border-bottom: .2em white solid;    
    background-color:rgb(30, 30, 182);
    padding:1em;
    

}
.heading{
    color: black;
    display: flex;
    align-items:center;
    gap: 1em;
    padding: 1em;
}

.button{
    background-color: rgb(71, 71, 90);
    color: wheat;
    font-size: 18px;
    text-align: center;    
    border-radius: 5px;
    border-color:rgb(58, 139, 211);
    padding-left: 1em;
    padding-right: 1em;  
}
.button:hover{
    background-color: blue;    
}
.studentView{
    background-color:ghostwhite;
    margin: 2%;
    
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);

}
.divID{
    display: flex;
    align-items: flex-start;
    margin: 1%;
    font-weight: 200;
    color: darkred;

}
.student{
    display: flex;
    align-items: unset;
    margin: 1%;
    font-family:Arial Narrow;
    font-size: 18px;
    color: black;

}